        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }
        
        html {
            scroll-behavior: smooth;
        }
        /* *********************/
        /* section ACCUEIL */
        /* *********************/
        
        #accueil {
            background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo-inicio.jpg");
            background-size: cover;
            background-position: center center;
            height: 100vh;
        }
        
        #accueil .conteneur header {
            background-color: rgba(0, 0, 0, .8);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }
        
        #accueil .conteneur header .conteneur-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }
        
        #accueil .conteneur header .conteneur-header .title{
            text-align: center;
            color: #ff0000;
            font-family: "Montserrat";
            cursor: pointer;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bolder;
        }
        
        #accueil .conteneur header .conteneur-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
        }
        
        #accueil .conteneur header .conteneur-header nav ul li a {
            text-decoration: none;
            color: #fff;
            margin: 0 12px;
            font-weight: 400;
            transition: .5s;
        }
        
        #accueil .conteneur header .conteneur-header nav ul li a:hover {
            color: #ff0000;
        }
        
        #accueil .conteneur header .conteneur-header .reseaux a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
        }
        
        #accueil .conteneur header .conteneur-header .reseaux a:hover {
            color: #ff0000;
        }
        
        #accueil .conteneur header .conteneur-header .navbar-links {
            color: #ffffff;
        }
        
        #accueil .conteneur .presentation {
            max-width: 1100px;
            height: 100vh;
            margin: auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        #accueil .conteneur .presentation .bienvenue {
            font-size: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        
        #accueil .conteneur .presentation h2 {
            font-size: 55px;
            margin-bottom: 25px;
            text-align: center;
        }
        
        #accueil .conteneur .presentation h2 span {
            font-size: 50px;
            color: #ff0000;
        }
        
        #accueil .conteneur .presentation .description {
            max-width: 700px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
        }

        #accueil .conteneur .presentation .description span {
            font-size: 18px;
            color: #ff0000;
        }
        
        #accueil .conteneur .presentation a {
            text-decoration: none;
            display: inline-block;
            margin: 25px;
            padding: 20px 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
        }
        
        #accueil .conteneur .presentation a:hover {
            background-color: #ff0000;
        }
        
        #icon-nav {
            color: #fff;
            display: none;
        }
        /* *********************/
        /* seccion S O B R E  M I */
        /* *********************/
        
        #parcours {
            max-width: 1100px;
            margin: auto;
            padding: 100px 15px;
            color: #111135;
            display: flex;
        }
        
        #parcours .conteneur-photo {
            max-width: 400px;
            margin-right: 80px;
        }
        
        #parcours .conteneur-photo img {
            padding: 20px;
            width: 100%;
            border-radius: 20px;
            background-color: #f3f3f3;
        }
        
        #parcours .parcours {
            margin: 0 40px;
        }
        
        #parcours .parcours .titre-section {
            font-size: 26px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #parcours .parcours h2 {
            font-size: 34px;
            font-weight: bold;
            margin: 20px 0;
            letter-spacing: 2px;
        }
        
        #parcours .parcours h2 span {
            color: #ff0000;;
        }
        
        #parcours .parcours h3 {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        
        #parcours .parcours p {
            font-size: 14px;
            line-height: 25px;
            color: #565656;
            margin-bottom: 12px;
        }
        
        #parcours .parcours a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            border-radius: 30px;
            border: 1px solid #000;
            padding: 10px 20px;
            margin-top: 30px;
            transition: .5s;
        }
        
        #parcours .parcours a:hover {
            background-color: #ff0000;
            color: #fff;
        }
        /* *********************/
        /* section Q U A L I F */
        /* *********************/

        .qualifications{
            max-width: 1100px;
            margin: auto;
            padding: 100px 15px;
            color: #111135;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
        }
        .qualifications .qualification-title{
            margin-bottom: 2rem;
        }
        .qualifications .qualification-title span{
            text-align: center;
            font-size: 26px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        .qualifications .icon-case{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
        .qualifications .icon-case span{
            font-weight: bold;
            margin-left: 0.35rem;
        }
        .qualifications .icon-case i{
            margin-bottom: 0.2rem;
        }
        .qualifications .study-grid{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 600px;
        }
        .qualifications .study-grid .study{
            display: flex;
            flex-direction: column;
            width: 185px;
        }
        .qualifications .study-grid .study .study-title{
            font-weight: 600;
        }
        .qualifications .study-grid .study .study-date{
            font-weight: 500;
        }
        .qualifications .study-grid .study .study-title,
        .qualifications .study-grid .study .study-location{
            margin-bottom: 0.2rem;
        }
        .qualifications .study-grid .study .study-date i{
            margin-right: 0.25rem;
        }
        .qualifications .study-grid .separation{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .qualifications .study-grid .separation .study-line{
            width: 2px;
            height: 100px;
            background-color: #000;
        }
        .qualifications .study-grid .separation .study-round{
            width: 14px;
            height: 14px;
            background-color: #ff0000;
            border-radius: 50%;
        }
        .qualifications .study-grid .study-space{
            width: 185px;
        }
        /* *********************/
        /* seccion S E R V I C I O S */
        /* *********************/
        
        #logiciels {
            padding: 100px 15px;
            text-align: center;
            background-color: #f3f3f3;
        }
        
        #logiciels .titre-section {
            text-align: center;
            font-size: 26px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #logiciels .description-service {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        
        #logiciels .description-service .service {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }
        
        #logiciels .description-service .service:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }
        
        #logiciels .description-service .service .icon {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #logiciels .description-service .service h4 {
            font-size: 20px;
            margin-bottom: 25px;
        }
        
        #logiciels .description-service .service hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }
        
        #logiciels .description-service .service ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10px;
        }
        
        #logiciels .description-service .service p {
            font-size: 14px;
            line-height: 22px;
        }
        /* *********************/
        /* seccion S K I L L S */
        /* *********************/
        
        /*#habilitees h3{
            font-size: 26px;
        }
        .conteneur-skills {
            background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.8)), url("img/fondo-skills.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
        }
        
        .conteneur-skills .skill {
            max-width: 600px;
            margin: 30px auto;
        }
        
        .conteneur-skills .skill .info {
            display: flex;
            justify-content: space-between;
        }
        
        .conteneur-skills .skill .liste {
            display: inline-block;
            margin-right: 20px;
            height: 10px;
            width: 10px;
            background-color: #fff;
        }
        
        .conteneur-skills .skill .barre {
            background-color: #919191;
            width: 100%;
            height: 6px;
            margin: 10px 0px;
        }
        
        .conteneur-skills .skill .barre .barre_progress1 {
            background-color: #fff;
            width: 70%;
            height: 6px;
            animation: progreso1 2s forwards;
        }
        
        .conteneur-skills .skill .barre .barre_progress2 {
            background-color: #fff;
            width: 70%;
            height: 6px;
            animation: progreso2 2s forwards;
        }
        
        .conteneur-skills .skill .barre .barre_progress3 {
            background-color: #fff;
            width: 65%;
            height: 6px;
            animation: progreso3 2s forwards;
        }
        
        .conteneur-skills .skill .barre .barre_progress4 {
            background-color: #fff;
            width: 85%;
            height: 6px;
            animation: progreso4 2s forwards;
        }
        
        @keyframes progreso1 {
            0% {
                width: 0;
            }
            100% {
                width: 70%;
            }
        }
        
        @keyframes progreso2 {
            0% {
                width: 0;
            }
            100% {
                width: 70%;
            }
        }
        
        @keyframes progreso3 {
            0% {
                width: 0;
            }
            100% {
                width: 65%;
            }
        }
        
        @keyframes progreso4 {
            0% {
                width: 0;
            }
            100% {
                width: 85%;
            }
        }
        /* *********************/
        /* section S T A G E S */
        /* *********************/

        /*STAGES*/
        .stage{
            position: relative;
            padding: 100px 15px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;;
        }
        .stage .titre-section{
            position: absolute;
            top: 0;
            text-align: center;
            font-size: 26px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        .stage .grid-stage{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 3rem;
        }
        .stage .grid-stage .stage-first,
        .stage .grid-stage .stage-second{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
        }
        .stage-first .computer,
        .stage-second .computer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .stage-first .explain,
        .stage-second .explain{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .stage-first .explain a,
        .stage-second .explain a{
            position: relative;
            margin-top: 1rem;
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            background-color: transparent;
            color: #000;
            border-radius: 15px;
            border: 1px solid #000;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        }

        .stage-first .explain a::before,
        .stage-second .explain a::before{
            position: relative;
            margin-top: 1rem;
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            background-color: transparent;
            color: #000;
            border-radius: 15px;
            border: 1px solid #000;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        }

        .stage-first .explain a:hover::before{
            width: 100%;
        }

        .stage-first .explain p,
        .stage-second .explain p{
            width: 300px;
        }

        /*STAGES*/

        .texte-stages{
            margin-left: 20%;
        }

        div#bloc1 {
            float: left;
            background: #789;
            width: 50%;
          }

          div#bloc1{
            float: left;
            width: 50%;
          }

          div#bloc2 {
            background: #abc;
          }
        /* *********************/
        /* section P R O J E T S */
        /* *********************/
        
        #portfolio {
            padding: 100px 15px;
            text-align: center;
            background-color: #f3f3f3;
        }
        
        #portfolio .titre-section {
            text-align: center;
            font-size: 26px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }

        #portfolio .description-service {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        
        #portfolio .description-service .service {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        #portfolio .description-service .service:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }
        
        #portfolio .description-service .service .icon {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #portfolio .description-service .service h4 {
            font-size: 17px;
            margin-bottom: 25px;
        }
        
        #portfolio .description-service .service hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }
        
        #portfolio .description-service .service ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10px;
            gap: 1rem;
        }
        
        #portfolio .description-service .service p {
            font-size: 14px;
            line-height: 22px;
        }
        #portfolio .description-service .service a{
            position: relative;
            margin-top: 1rem;
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            background-color: transparent;
            color: #000;
            border-radius: 15px;
            border: 1px solid #000;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        }
        #portfolio .description-service .service a::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 0%;
            height: 100%;
            background-color: #434343;;
            opacity: 0.4;
            border-radius: 15px;
            transition: all .2s ease-in;
        }
        #portfolio .description-service .service a:hover::before{
            width: 100%;
        }

        /* *********************/
        /* section V E I L L E */
        /* *********************/

        #veille {
            padding: 100px 15px;
            text-align: center;
            background-color: #f3f3f3;
        }

        #veille .titre-section {
            text-align: center;
            font-size: 26px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }

        #veille .titre-section2 {
            text-align: center;
            font-size: 24px;
            text-transform: uppercase;
            color: #111135;
            padding-top: 4rem;
        }

        #veille .h2{
            padding: 2rem;
        }

        #veille .hr{
            padding-bottom: 2rem;
        }
        .image-container {
            display: inline-block;
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            background: #fff;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
            margin: 2rem;;
          }
          .image {
            width: 200px;
            height: 200px;
            z-index: 1;
            transition: all .5s;
          }
          .image img {
            max-width: 100%;
            padding:1rem;
          }
          .caption {
            width: 200px;
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            background: rgba(0,0,0,.8);
            z-index: 2;
            font-weight: 300;
            transition: all .5s;
          }
          .caption-num1 {
            position: relative;
            height: 60px;
            padding: none;
            transform: rotate(45deg) translateY(-280px) translateX(-50%);
          }
          .bottom {
            position: absolute;
            bottom: 15px;
            left: 0px;
            right: 0;
          }
          .caption-num2 {
            transform: translateY(140px);
          }

          .image-container-num2:hover .caption-num2 {
            transform: translateY(-37px);
          }
          .caption-num3 {
            opacity: 0;
            width: 300px;
            text-align:right;
            padding-right: 14px;
            transform: translateY(-100%);
          }

          .image-container-num3:hover .caption-num3 {
            opacity: 1;
            transform: translateY(-100%) translateX(-114px);
          }
          .break {
            display: none;
          }

        #veille .titre-section3 {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            padding-top: 3rem;
            padding-bottom: 2rem;
            text-decoration: underline;
            text-decoration-color: #ff0000b4;
            text-decoration-thickness: 2px;
        }

        #veille .titre-section4 {
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            color: #111135;
            padding-top: 1.25rem;
        }

        #veille .titre-section5 {
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            color: #111135;
            padding-top: 1.25rem;
        }

        #veille .description-veille {
            display: flex;
            justify-content: center;
            max-width: 1245px;
            margin: 35px auto;
        }

        #veille .description-veille p{
            font-size: 19px;
            line-height: 2.25rem;
        }

        #veille .description-veille p img{
            align-items: center;
            margin-bottom: 8rem;
            font-size: 19px;
            line-height: 2.25rem;
        }

        #veille .description-veille strong {
            color: #ff0000;
        }

        #veille .description-veille span {
            color: #ff0000;
        }

        #veille .description-veille .service {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }

        #veille .description-veille .service:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }

        #veille .description-veille .service .icon {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }

        #veille .description-veille .service h4 {
            font-size: 16px;
            margin-bottom: 25px;
        }

        #veille .description-veille .service hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }

        #veille .description-veille .service ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10px;
        }

        #veille .description-veille .service p {
            font-size: 14px;
            line-height: 22px;
        }
        /* *********************/
        /* section C O N T A C T */
        /* *********************/
        
        #contact {
            padding: 30px 15px;
            background-color: #f3f3f3;
        }
        
        #contact .titre-section {
            margin-bottom: 26px;
        }
        
        #contact .conteneur-form {
            max-width: 1100px;
            margin: auto;
        }
        
        #contact .conteneur-form .description-service {
            margin-bottom: 15px;
        }
        
        #contact .conteneur-form .mitad {
            display: flex;
            justify-content: space-between;
        }
        
        #contact .conteneur-form input,
        #contact .conteneur-form textarea {
            padding: 20px;
            border-radius: 20px;
            border: none;
            border: 1px solid #919191;
        }
        
        #contact .conteneur-form .mitad input {
            width: 48%;
        }
        
        #contact .conteneur-form .input-full {
            width: 100%;
            resize: none;
        }
        
        #contact .titre-section {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #contact .btn-enviar {
            display: block;
            margin: auto;
            cursor: pointer;
            transition: .5s;
            padding: 0.85rem 4rem !important;
        }
        
        #contact .btn-enviar:hover {
            background-color: #ff0000;
            color: #fff;
        }
        /* *********************/
        /* seccion F O O T E R */
        /* *********************/
        
        footer {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 30px 0;
        }
        footer p{
            cursor: default;
        }
        footer a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin: 5px;
            font-size: 26px;
            
        }
        footer a i{
            transition: all .2s ease-in;
        }
        footer a i:hover{
            color: #ff0000;
        }
        /* *********************/
        /* section R E S P O N S I V E */
        /* *********************/
        
        @media screen and (max-width: 800px) {
            .reseaux {
                display: none;
            }
            nav {
                display: none;
            }
            nav.responsive {
                display: block;
                background-color: rgba(0, 0, 0, .8);
                width: 100%;
                position: absolute;
                top: 48px;
                left: 0;
                padding: 10px 0;
            }
            nav.responsive ul {
                display: block !important;
                text-align: center;
            }
            nav.responsive ul li {
                margin: 5px 0;
            }
            #icon-nav {
                display: block;
            }
            #accueil .conteneur .presentation .bienvenue {
                display: none;
              }
            #accueil .conteneur .presentation h2 {
                font-size: 26px;
            }
            #accueil .conteneur .presentation h2 span {
                font-size: 35px;
            }
            /* seccion SOBRE MI */
            #parcours {
                padding: 50px 0;
                display: block;
            }
            #parcours .conteneur-photo {
                max-width: 200px;
                margin: auto;
            }
            #parcours .conteneur-photo img {
                padding: 8px;
            }
            #parcours .parcours .titre-section {
                text-align: center;
            }
            #parcours .parcours h2 {
                font-size: 25px;
                text-align: center;
            }
            /* seccion MIS logiciels */
            #logiciels {
                padding: 50px 15px;
            }
            #logiciels .description-service {
                display: block;
            }
            #logiciels .description-service .service {
                margin: 10px auto;
            }
            /* seccion HABLIDADES MI */
            .conteneur-skills {
                padding: 50px 20px;
            }
            /* section stages */
            #stages {
                padding: 50px 0;
                display: block;
            }

            #stages .parcours .titre-section {
                text-align: center;
            }
            #stages .ensemble1{
                width: auto;
                float: none;
            }
            #stages .titre-section h3 {
                font-size: 25px;
                text-align: center;
            }
            /*section portfolio*/
            #portfolio .description-service {
                display: block;
            }
            #portfolio .description-service .projet {
                margin: 10px auto;
            }
            /* seccion contact */
            #contact {
                padding: 50px 15px;
            }
            #contact .conteneur-form .mitad {
                margin-bottom: 15px;
                display: block;
            }
            #contact .conteneur-form .mitad input {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        @media screen and (max-width: 525px) {
            .qualifications .study-grid{
                width: 330px;
            }
        }

        @media screen and (max-width: 350px){
            .qualifications .study-grid{
                width: 250px;
                gap: 2.3rem;
            }
            .qualifications .study-grid .first-sep{
                position: absolute;
                top: 35%;
            }
            .qualifications .study-grid .second-sep{
                position: absolute;
                top: 50%;
            }
            .qualifications .study-grid .third-sep{
                position: absolute;
                top: 65%;
            }
        }
